
.textarea {
    resize: none;
}
.modal-form1 {
    width: 500px;
    border: 1px solid tomato;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.modal-form {
    outline: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.modal-form input {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 3px;
}
.modal-form input::placeholder {
    color: black;
}
.options {
    padding: 0;
    margin: 0;
    list-style: none;
}
.options input[type="checkbox"] {

}
.options label {
    font-size: 20px;
    margin-left: 10px;
}
.options li {
    display: flex;
    align-items: center;
}
.experience-options {
    list-style: none;
}
.textarea {
    padding: 8px;
    width: 400px;

}
/* --------------test-------------- */
.forms-test {
    background-color: black;
}